<div class="item-container" *ngFor="let item of items">
    <button *ngIf="item.id === userService.currentUser.id">Editer</button>
    <button *ngIf="item.id === userService.currentUser.id" (click)="deleteItem(item.id)">Supprimer</button>
    <h1 class="item-title">{{item.titre}}</h1>
    <div class="item-text">
        {{item.contenu}}
        <div class="item-comment-container" *ngFor="let comment of item.comment">
            <p>{{ comment.contenu}}</p>
        </div>
    </div>

    <form action="">
        <input type="text">
        <button>Ajouter un commentaire</button>
    </form>
</div>