.user-container {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
    text-align: center;
    margin: 5px;
    width: 45%;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    .user-img-container {
        .user-img {
            width: 50%;
        }
    }
}