/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Slabo+27px&display=swap');

:root {
    font-size: 15pt;
    --background-header-footer: black;
    --background-main: grey;

    --color-header-footer: white;

    --color-btn: #53609c;

    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    --border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}